{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<section class="slider-wrap-layout6">
		<div class="container-fluid">
			<div class="rc-carousel nav-control-layout7" data-loop="true" data-center="false" data-items="5" 
			data-margin="40" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="700" 
			data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1" 
			data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="1" data-r-x-medium-nav="true" 
			data-r-x-medium-dots="false" data-r-small="1" data-r-small-nav="true" data-r-small-dots="false" 
			data-r-medium="2" data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="2" data-r-large-nav="true" 
			data-r-large-dots="false" data-r-extra-large="2" data-r-extra-large-nav="true" data-r-extra-large-dots="false">
				{% for post in posts %}
					{% if post.showInSlider == true %}
						<div class="slider-box-layout7">
							<div class="item-img slider-dimension">
								<a href="{{path('show_post', {'slug' : post.slug})}}">
									<img src="{{post.coverPicture}}" alt="slider" class="image-slider">
								</a>
								<div class="item-content">
									<ul class="entry-meta meta-color-light">
										<li>
											<i class="fas fa-tag"></i>{{post.category.name}}</li>
										<li>
											<i class="fas fa-calendar-alt"></i>
											{{ post.createdAt | date('d-m-y') }}
										</li>
										<li>
											<i class="fas fa-user"></i>Par
											<a href="#">
												{{post.user.firstname}} {{post.user.lastname}}
											</a>
										</li>
										<li>
									</ul>
									<h2 class="item-title text-center">
										<a href="{{path('show_post', {'slug' : post.slug})}}">
											{{post.title}}
										</a>
									</h2>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
	
	
	<section class="blog-wrap-layout18">
		<div class="container-fluid">
			<h2 class="text-center">Articles récents</h2>
			<div class="row gutters-40" id="no-equal-gallery">
				{% for post in posts | slice(0, 12) %}
					<div class="col-xl-3 col-lg-4 col-md-6 col-12 no-equal-item">
						<div class="blog-box-layout15">
							<div class="item-img">
								<a href="{{path('show_post', {'slug' : post.slug})}}">
									<img src="{{post.coverPicture}}" alt="post-image">
								</a>
							</div>
							<div class="item-content">
								<ul class="entry-meta meta-color-dark">
									<li>
										<i class="fas fa-tag"></i>{{post.category.name}}
									</li>
									<li>
										<i class="fas fa-calendar-alt"></i>
										{{ post.createdAt | date('d-m-y') }}
									</li>
								</ul>
								<h3 class="item-title text-center">
									<a href="{{path('show_post', {'slug' : post.slug})}}">
										{{post.title}}
									</a>
								</h3>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="loadmore-btn-layout2">
				<a href="{{path('posts')}}" class="item-btn">
					Voir tout
				</a>
			</div>
		</div>
	</section>
{% endblock %}
