{% extends 'base.html.twig' %}

{% block title %}
	Videos
{% endblock %}

{% block body %}
    <section class="blog-wrap-layout18">
        <div class="container-fluid">
            {% if videos is not empty %}
                <div class="row gutters-40" id="no-equal-gallery">
                    {% for video in videos %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12 no-equal-item">
                            <div class="blog-box-layout15">
                                <div class="item-img">
                                    <a href="{{path('show_video', {'slug' : video.slug})}}">
                                        <img src="{{asset('img/uploads/' ~ video.coverPicture) | imagine_filter('coverImage')}}" alt="video-image">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <ul class="entry-meta meta-color-dark">
                                        <li>
                                            <i class="fas fa-tag"></i>
                                            {{video.category.name}}
                                        </li>
                                        <li>
                                            <i class="fas fa-calendar-alt"></i>
                                            {{ video.createdAt | date('d-m-Y')}}
                                        </li>
                                    </ul>
                                    <h3 class="item-title text-center">
                                        <a href="{{path('show_video', {'slug' : video.slug})}}">
                                            {{video.title}}
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="loadmore-btn-layout2">
                    {{ knp_pagination_render(videos, 'pagination.html.twig') }}
                </div>
            {% else %}
                <h2 class="text-center">
                    Aucun article trouvé.
                </h2>
            {% endif %}
        </div>
    </section>
{% endblock %}
