{% extends 'base.html.twig' %}

{% block title %}
	{{post.title}}
{% endblock %}

{% block body %}
	<section class="single-blog-wrap-layout2">
		<div class="container">
			<div class="single-blog-box-layout2">
				<div class="blog-banner">
					<center>
						<img src="{{post.coverPicture}}">
					</center>
				</div>
				<div class="single-blog-content" style="margin-top:100px">
					<div class="blog-entry-content">
						<ul class="entry-meta meta-color-dark">
							<li>
								<i class="fas fa-tag">
								</i>{{post.category.name}}</li>
							<li>
								<i class="fas fa-calendar-alt">
								</i>{{ post.createdAt | date('d-m-y') }}</li>
							<li>
								<i class="fas fa-user"></i>Par
								<a href="#">
									{{post.user.firstname}} {{post.user.lastname}}
								</a>
							</li>
							<li>
						</ul>
						<h2 class="item-title">{{post.title}}</h2>
						<div class="sharethis-inline-share-buttons text-center" 
						style="margin-bottom:15px"></div>
						<ul class="response-area">
							<li>
								<a href="#">
									<i class="far fa-eye"></i>
									Nombre de vues: {{post.view}}
								</a>
							</li>
						</ul>
					</div>
					
					<div class="blog-details">
						{{ post.content | raw }}
                    </div>

					{% if suggestions | length > 2 %}
						<div class="related-item">
							<div class="section-heading-5 heading-dark">
								<h3 class="item-heading">Voir aussi</h3>
							</div>
							<div class="row">
								{% for suggestion in suggestions | slice(0, 3) %}
									<div class="col-sm-4 col-12">
										<div class="blog-box-layout1 text-left">
											<div class="item-img">
												<a href="{{path('app_home')}}">
													<img src="{{suggestion.coverPicture}}">
												</a>
											</div>
											<div class="item-content">
												<ul class="entry-meta meta-color-dark text-center">
													<li>
														<i class="fas fa-tag"></i>
														{{suggestion.category.name}}
													</li>
													<li>
														<i class="fas fa-calendar-alt"></i>
														{{ suggestion.createdAt | format_datetime('full', 'none', locale='fr') }}
													</li>
												</ul>
												<h5 class="item-title text-center">
												<a href="{{path('app_home')}}">
													{{suggestion.title}}
												</a>
												</h5>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
