{% extends 'base.html.twig' %}

{% block title %}
	{{post.title}}
{% endblock %}

{% block body %}
	<section class="single-blog-wrap-layout2">
		<div class="container">
			<div class="single-blog-box-layout2">
				<div class="blog-banner">
					<img src="{{asset('img/uploads/' ~ post.coverPicture) | imagine_filter('postImage')}}">
				</div>
				<div class="single-blog-content">
					<div class="blog-entry-content">
						<ul class="entry-meta meta-color-dark">
							<li>
								<i class="fas fa-tag">
								</i>{{post.category.name}}</li>
							<li>
								<i class="fas fa-calendar-alt">
								</i>{{ post.createdAt | format_datetime('full', 'none', locale='fr') }}</li>
							<li>
								<i class="fas fa-user"></i>Par
								<a href="#">
									{{post.user.firstname}} {{post.user.lastname}}
								</a>
							</li>
							<li>
						</ul>
						<h2 class="item-title">{{post.title}}</h2>
						<ul class="item-social">
							<li>
								<a href="#" class="facebook">
									<i class="fab fa-facebook-f"></i>SHARE</a>
							</li>
							<li>
								<a href="#" class="twitter">
									<i class="fab fa-twitter"></i>SHARE</a>
							</li>
							<li>
								<a href="#" class="g-plus">
									<i class="fab fa-google-plus-g"></i>SHARE</a>
							</li>
							<li>
								<a href="#" class="pinterst">
									<i class="fab fa-pinterest"></i>PIN IT</a>
							</li>
							<li>
								<a href="#" class="load-more">
									<i class="fas fa-plus"></i>MORE</a>
							</li>
						</ul>
						<ul class="response-area">
							<li>
								<a href="#">
									<i class="far fa-comment"></i>02</a>
							</li>
							<li>
								<a href="#">
									<i class="far fa-eye"></i>105</a>
							</li>
							<li>
								<a href="#">
									<i class="far fa-heart"></i>225</a>
							</li>
							<li>
								<a href="#">
									<i class="fas fa-share"></i>302</a>
							</li>
						</ul>
					</div>
					
					<div class="blog-details">
						{{ post.content | raw }}
                    </div>

					{% if suggestions | length > 2 %}
						<div class="related-item">
							<div class="section-heading-5 heading-dark">
								<h3 class="item-heading">Voir aussi</h3>
							</div>
							<div class="row">
								{% for suggestion in suggestions | slice(0, 3) %}
									<div class="col-sm-4 col-12">
										<div class="blog-box-layout1 text-left">
											<div class="item-img">
												<a href="single-blog.html">
													<img src="{{asset('img/uploads/' ~ suggestion.coverPicture) | imagine_filter('postImage')}}">
												</a>
											</div>
											<div class="item-content">
												<ul class="entry-meta meta-color-dark">
													<li>
														<i class="fas fa-tag"></i>
														{{suggestion.category.name}}
													</li>
													<li>
														<i class="fas fa-calendar-alt"></i>
														{{ suggestion.createdAt | format_datetime('full', 'none', locale='fr') }}
													</li>
												</ul>
												<h5 class="item-title">
												<a href="single-blog.html">
													{{suggestion.title}}
												</a>
												</h5>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					
					<div class="blog-comment">
						<div class="section-heading-5 heading-dark">
							<h3 class="item-heading">02 COMMENTS</h3>
						</div>
						<div class="media media-none--xs">
							<div class="media-body">
								<h4 class="item-title">Jack Sparrow</h4>
								<div class="item-subtitle">2 Mins Ago</div>
								<p>
									Bmmy text of the printing and typesetting industryorem Ipsum
									has been the industry's standard dummy text ever since the
								</p>
								<a href="#" class="item-btn">Reply</a>
							</div>
						</div>
					</div>
					
					<div class="blog-form">
						<div class="section-heading-5 heading-dark">
							<h3 class="item-heading">WRITE A COMMENT</h3>
						</div>
						<form class="contact-form-box">
							<div class="row gutters-15">
								<div class="col-md-4 form-group">
									<input type="text" placeholder="Name*" class="form-control" name="first_name" 
									data-error="Name field is required" required>
									<div class="help-block with-errors"></div>
								</div>
								<div class="col-md-4 form-group">
									<input type="email" placeholder="E-mail*" class="form-control" name="email" 
									data-error="E-mail field is required" required>
									<div class="help-block with-errors"></div>
								</div>
								<div class="col-md-4 form-group">
									<input type="text" placeholder="Website*" class="form-control" name="website" 
									data-error="website field is required" required>
									<div class="help-block with-errors"></div>
								</div>
								<div class="col-12 form-group">
									<textarea placeholder="Write your comments ..." class="textarea form-control" name="message" 
									rows="9" cols="20" data-error="Message field is required" required></textarea>
									<div class="help-block with-errors"></div>
								</div>
								<div class="col-12 form-group text-center">
									<button class="item-btn">POST COMMENT</button>
								</div>
							</div>
							<div class="form-response"></div>
						</form>
					</div>
				
				</div>
			</div>
		</div>
	</section>
{% endblock %}
